{% extends 'base.html' %}
 
{% block content %}

<h1>About Our Stock Portfolio Manager</h1><br>

<p>Welcome to <strong>Stock Loom</strong>, your go-to solution for managing your stock portfolio effortlessly. Built with Django and powered by the IEX Cloud API, our platform is designed to simplify your investment tracking experience.</p>

<h3>Our Mission</h3>
<p>At <strong>Stock Loom</strong>, we believe in providing a hassle-free platform for users to monitor their stock portfolios with ease. Whether you're a seasoned investor or new to the world of stocks, our goal is to streamline the process of staying informed about your investments.</p>

<h3>Key Features</h3><br>
<p><strong>Real-Time Stock Data</strong><br>
Harnessing the power of the IEX Cloud API, we deliver real-time stock data straight to your fingertips. Stay updated on market trends, stock prices, and make informed decisions confidently.</p>

<p><strong>Django Admin Integration</strong><br>
Our integration of the Django admin interface ensures a seamless experience in managing your stocks. Add, update, or remove stocks effortlessly through our user-friendly admin panel.</p>


{% endblock %}