{%extends 'base.html' %}

{% block content %}



<h1>Hello! This is a Stock Portfolio Platform</h1>
<br>
<p>If you want to search about any Stocks, please type in the symbol of that Stock in <strong>Get Stock Quote</strong></p>
<p>You can <strong>Add Stocks</strong> and can see the details. Also you can <strong>Delete the Stocks</strong></p>
<br>
<br>

{% if api %}
    {% if api == "Error..." %}
       <p style="background-color: aquamarine; width: fit-content;">There was a problem with you ticker symbol, Please try again...</p> 
    {% else %}

        <h1>{{api.companyName}}</h1><br>
        Price: ${{api.latestPrice}} <br>
        Previous Close: {{api.previousClose}} <br>
        Market Cap: {{api.marketCap}} <br>
        YTD Change: {{api.ytdChange}} <br>
        52WK High: {{api.week52High}} <br>
        52WK Low: {{api.week52Low}} <br>

       

    {% endif %}

{% endif %}

{% endblock %}